@import "bootstrap/bootstrap";
@import "fonts";

$bg_white: #ffffff;
$bg_gray: #e2e2e2;
$gray: #a3acb5;

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: $bg_gray;
  font: $main_font;
}

svg #type {
  fill: $gray;
}